= simple_form_for @weed do |f|
		= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category"}
		= f.input :image
		%br/
		= f.input :title
		%br/
		= f.input :comment
		%br/
		= f.button :submit, class: "button"


