.wrapper.clearfix	
	- if user_signed_in?
		%p#intro
			Hello
			=current_user.email
			%br/
			Share your weed experiences.
	- else
		%p#intro
			Do you like to be weeded?
			%br/
			
			Share your weed experiences with other weeders
			=link_to "here", new_weed_path
	.categories
		- Category.all.each do |category|
			= link_to category.name, weeds_path(category: category.name)
		=link_to "All", root_path
		

#weeds
	- @weeds.each do |weed|
		.weed
			.weed_image
				= link_to (image_tag weed.image.url(:medium)), weed
			.weed_content
				.title
					%h2= link_to weed.title, weed
					%p
						= weed.get_likes.size
						Likes
					%p
						= weed.get_dislikes.size
						Dislikes
				.data.clearfix
					%p.username
						Shared by
						= weed.user.email
					