#weed_show
	.clearfix
		%h1= @weed.title
		-if @weed.category_id == 1
			%p Indica
		-else
			%p Sativa
		%p.username
			Shared by
			= @weed.user.email
			about
			= time_ago_in_words(@weed.created_at)
	.clearfix
		.weed_image_description
			= image_tag @weed.image.url(:medium)
		.weed_comment
			%p= @weed.comment
		.weed_data
			- if @weed.user == current_user
				= link_to "Edit", edit_weed_path(@weed), class: "data"
				= link_to "Delete", weed_path(@weed), method: :delete, data: { confirm: "Are you sure?" }, class: "data"
				= link_to "Like", like_weed_path(@weed), method: :get
				%p	
					= @weed.get_upvotes.size
					Likes
				= link_to "Dislike", dislike_weed_path(@weed), method: :get
				%p	
					= @weed.get_downvotes.size
					Dislikes

