/* line 2, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
* {
  color: #269926;
}

/* line 5, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show {
  padding-top: 2rem;
}
/* line 7, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show .weed_image_description {
  width: 50%;
  float: left;
  margin-right: 5%;
}
/* line 13, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show p {
  color: #9B9B9B;
}
/* line 17, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show .weed_comment {
  text-decoration: none;
  color: black;
  margin-right: 10%;
}
/* line 23, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show .weed_data {
  width: 15%;
  float: left;
}
/* line 26, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show .weed_data .button {
  width: 100%;
  display: inline-block;
  padding: .75rem 0;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  color: #weed_show .weed_data .button dark;
}
/* line 34, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show .weed_data .button:hover {
  color: #50A7C7;
  border: 1px solid #50A7C7;
}
/* line 39, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show .weed_data .data {
  width: 100%;
  display: block;
  padding: .75rem 0;
  border: 1px solid #9B9B9B;
  border-radius: .3rem;
  outline: none;
  background: #269926;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  text-align: center;
}
/* line 55, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show h1 {
  margin: 0;
  color: #969696;
}
/* line 59, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show img {
  width: 100%;
  border-radius: 10rem;
}
/* line 63, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show .username {
  color: #969696;
  margin-bottom: 12px;
}
/* line 67, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_show .description {
  margin: 2rem 0;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #969696;
}

/* line 75, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_new {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}
/* line 79, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_new h1 {
  text-align: center;
  color: #269926;
}

/* line 85, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_edit {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}
/* line 89, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weed_edit h1 {
  text-align: center;
  color: #269926;
}

/* line 97, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed {
  background: #F8F9FA;
  width: 30%;
  float: left;
  margin: 1rem 1.5%;
  border: 1px solid #E4E4E4;
  border-radius: 0.3rem;
}
/* line 104, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_image {
  height: 200px;
  overflow: hidden;
}
/* line 107, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_image img {
  width: 100%;
  border-radius: .3rem .3rem 0 0;
}
/* line 113, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_content h2 {
  margin: 0;
  font-weight: 100;
  padding: 1rem 5%;
  border-bottom: 1px solid #E4E4E4;
  font-size: 1.25rem;
}
/* line 119, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_content h2 a {
  text-decoration: none;
  color: #333233;
}
/* line 122, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_content h2 a:hover {
  color: #50A7C7;
}
/* line 127, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_content .data {
  padding: .75rem 5%;
  color: #969696;
}
/* line 130, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_content .data .username, #weeds .weed .weed_content .data .buttons {
  margin: 0;
  font-size: .8rem;
}
/* line 134, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_content .data .username {
  float: left;
}
/* line 137, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_content .data .buttons {
  float: right;
}
/* line 139, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
#weeds .weed .weed_content .data .buttons span {
  margin-left: .5rem;
}

/* line 148, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
.simple_form label {
  float: left;
  width: 100%;
  margin: 12px 10px;
}

/* line 155, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
label {
  color: #269926;
}

/* line 158, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
input[type="text"], textarea {
  width: 100%;
  outline: none;
  border: solid;
  border-color: #269926;
  border-radius: 20px;
  padding: 1em 0em;
  height: 50px;
}

/* line 168, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
input[type="submit"] {
  background: #269926;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 20px;
  width: 100%;
  transition: all .4s ease-in-out;
  cursor: pointer;
  color: white;
}
/* line 178, /home/wallace/Desktop/code/12in12/wtool/app/assets/stylesheets/weeds.css.scss */
input[type="submit"]:hover {
  background: #269926;
  color: black;
}
