$dark: #269926;
* {
	color: $dark
}
#weed_show {
	padding-top: 2rem;
	.weed_image_description {
		width: 50%;
		float: left;	
		margin-right: 5%;
	}
	
	p {
		color: #9B9B9B;
	}

	.weed_comment {
		text-decoration: none;
		color: black;
		margin-right: 10%; 
	}

	.weed_data {
		width: 15%;
		float: left;
		.data {
			width: 100%;
			display: block;
			padding: .75rem 0;
			border: 1px solid #9B9B9B;
			border-radius: .3rem;
			outline: none;
			background: $dark;
			color: white;
			text-decoration: none;
			margin-bottom: 10px;
			text-align: center;
			&:hover {
				color: black;
				border: 1px solid #50A7C7;
			}
		}


	}
	h1 {
		margin: 0;
		color: #969696;
	}
	img {
		width: 100%;
		border-radius: 10rem;
	}
	.username {
		color: #969696;
		margin-bottom: 12px;
	}
}

#weed_new {
	width: 100%;
	margin: 0 auto;
	padding-top: 2rem;
	h1 {
		text-align: center;
		color: $dark;
	}
}

#weed_edit {
	width: 100%;
	margin: 0 auto;
	padding-top: 2rem;
	h1 {
		text-align: center;
		color: $dark;
	}
}

#intro{
	color: #333233;
	text-align: center;
	font-size: 20px;
	float: right;	
}

.categories {
	float: left;
	padding-top: 5%;
	a {
		text-decoration: none;
		background: white;
		padding: 10px;
		margin-right: 20px;
		border: none;
		height: 80px;
		border-radius: 20px;
		border-color: $dark;
		width: 100%;
		transition: all .4s ease-in-out;
		cursor: pointer;
		color: $dark;
		&:hover {
			background: $dark;
			color: white;
		}
	}
}
#weeds {
	.weed {
		background: #F8F9FA;
		width: 30%;
		float: left;
		margin: 1rem 1.5%;
		border: 1px solid #E4E4E4;
		border-radius: 0.3rem;
		.weed_image {
			height: 200px;
			overflow: hidden;
			img {
				width: 100%;
				border-radius: .3rem .3rem 0 0;
			}
		}
		.weed_content {
			h2 {
				margin: 0;
				font-weight: 100;
				padding: 1rem 5%;
				border-bottom: 1px solid #E4E4E4;
				font-size: 1.25rem;
				a {
					text-decoration: none;
					color: #333233;
					&:hover {
						color: #50A7C7;
					}
				}
			}
			.data {
				padding: .75rem 5%;
				color: #969696;
				.username, .buttons {
					margin: 0;
					font-size: .8rem;
				}
				.username {
					float: left;
				}
				.buttons {
					float: right;
					span {
						color: red;
						margin-left: .5rem;
					}
				}
			}
		}
	}
}

.simple_form label {
  float: left;
  width: 100%;
  margin: 12px 10px;
}


label {
	color: $dark;
}
input[type="text"], textarea {
	width: 100%;
	outline: none;
	border: solid;
	border-color: $dark;
	border-radius: 20px;
	padding: 1em 0em;
	height: 50px;
}

input[type="submit"] {
	background: white;
	outline: none;
	border: solid;
	height: 40px;
	border-radius: 20px;
	border-color: $dark;
	width: 100%;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: $dark;
	&:hover {
		background: $dark;
		color: black;
	}
}

input[type="email"] {
	background: $dark;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 20px;
	width: 100%;
	color: white;
	text-align: center;
}

input[type="password"] {
	background: $dark;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 20px;
	width: 100%;
	color: white;
	margin-bottom: 10px;
	text-align: center;
}

