!!!
%html
%head
	%title Weed
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
	%link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
	= csrf_meta_tags
%body
	%header
		.wrapper.clearfix
			#logo= link_to "WTOOL", root_path
			%nav
				- if user_signed_in?
					= link_to "Edit user options", edit_user_registration_path, class: "button"
					= link_to "Got new weed to share?", new_weed_path, class: "button"
				- else
					= link_to "Sign in", new_user_session_path, class: "button"
					= link_to "Sign Up", new_user_registration_path, class: "button"
	
	.wrapper
		%p.notice= notice
		%p.alert= alert
		= yield